<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Clients</h1>
    <a routerLink="/clients/add" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add new</a>
</div>




<div class="card card-body mt-5">
    <table class="table">
        <thead>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Actions</th>
            
            
        </thead>

        <tbody>
            <tr *ngFor="let c of clients">
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.address }}</td>
                <td>{{ c.phone }}</td>
                
                <td>
                    <a class="btn btn-warning" [routerLink]="'/clients/buy/'+c.id">buy</a>
                </td>
                
            </tr>
        </tbody>
    </table>
</div>